body {
    margin: 0;
    background-color: #F2F9FF;
    font-family: 'Source Code Pro', monospace;
    /* font-family: 'Montserrat', sans-serif; */
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

h5 {
    font-size: 0.9rem; 
    font-weight: 400; 
}


ul.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #7aa0c3;
}

ul.nav-bar li {
    padding: 0.625rem 1.5625rem;
    font-size: 1rem
}

ul.nav-bar li:hover {
    background-color: #70a7d8;
}

ul.nav-bar a {
    color: #ffffff;
    text-decoration: none;
}



div.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


div.bio-container {
    margin: 5.625rem 1.875rem 0rem 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.bio-container h1 {
    margin-top: 0rem; 
    margin-bottom: 0rem;
}

div.bio-container h5 {
    margin-top: 0rem; 
    margin-bottom: 0rem;
}

div.image-container {
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    border-radius: 50%;
}

img.profile-image {
    width: 100%;
    height: 100%;
    transform: scale(1.5, 1.5);
    object-fit: cover;
    object-position: 50% -30%;
}

p.icon-row {
    display: flex;
    align-items: center;
}

svg {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

svg.icons-1 {
    width: 1.5625rem;
    height: 1.5625rem;
} 

svg.icons-1 image{
    width: 1.5625rem;
    height: 1.5625rem;
} 

svg.icons-2 {
    width: 1.25rem;
    height: 1.25rem;
} 

svg.icons-2 image{
    width: 1.25rem;
    height: 1.25rem;
} 

image.icons:hover {
    filter: invert(62%) sepia(98%) saturate(4047%) hue-rotate(161deg) brightness(94%) contrast(101%);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background: linear-gradient(90deg, #434E89 0%, #7482CD 100%);
    border-radius: 1rem;
    padding: 0.375rem 0.625rem;
    border: none;
    color: white;
    text-align: center;
    font-size: 1rem;
}

a.button:hover {
    transition: all 0.15s linear;
    transform: scale(1.1);
}


div.about-me-section {
    width: 44rem;
    margin: 0rem 3.75rem 0rem 3.75rem;
    padding-top: 3.75rem;
}

div.about-me-section ion-card {
    margin: 0; 
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 16px;
}

div.about-me-section h1{
    margin: 0rem 0rem 0.625rem 0.4rem;
}

div.about-me-section p{
    font-weight: 400;
    font-size: 0.875rem; 
}




div.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.skills-sub-container {
    margin: 0rem 0.5rem;
}

div.skills-header h1 {
    padding-left: 1.25rem;
    margin-bottom: 0.3rem;
    margin-top: 3.75rem;
}

div.skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
}

div.skills-cards ion-card {
    margin: 1rem 1rem;
    width: 13.5rem;
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 16px;
}

div.skills-cards ion-card-header {
    padding-bottom: 0.5rem;
}

div.skills-cards ion-card-subtitle {
    font-size: 0.875rem;
}

div.skills-cards ion-item {
    --padding-start: 0rem;
    --min-height: 2rem;
    font-size: 0.75rem;
}

div.skills-cards ion-thumbnail {
    --size: 1rem;
    --border-radius: 0.1rem;
    margin-right: 0.7rem;
}

div.skills-cards ion-label {
    margin: 0rem;
}




/* DEBUG  */

/* div.header-container {
    outline: dashed 1px black;
}

div.bio-container {
    outline: dashed 1px blue;
}

div.about-me-section {
    outline: dashed 1px green;
}

*/

/* div.skills-container {
    outline: dashed 1px red;
}

div.skills-container {
    outline: dashed 1px pink;
}

div.skills-sub-container {
    outline: dashed 1px brown;
}

div.skills-header {
    outline: dashed 1px orange;
}

div.skills-cards {
    outline: dashed 1px purple;
}

h1 {
    outline: dashed 1px brown;
}  */
