/* Shrinks the nav-bar when screen width reaches px value */

@media only screen and (max-width: 400px) {
    body {
        & h1 {
            font-size: 1.5rem;
            margin-top: 3rem;
        }

        & h5 {
            font-size: 0.7rem;
        }
    }

    ul.nav-bar li {
        padding: 0.5rem 0.625rem;
        font-size: 0.7rem
    }

    div.bio-container {
        margin: 3.625rem 0.875rem 0rem 0.875rem;

        & .image-container {
            width: 6rem;
            height: 6rem;
        }

        & .icon-row {
            display: flex;
            align-items: center;
            margin: 0.5rem 0rem;

            & .icons-1 {
                width: 1.2rem;
                height: 1.2rem;

                & image {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }

            & .icons-2 {
                width: 0.9rem;
                height: 0.9rem;

                & image {
                    width: 0.9rem;
                    height: 0.9rem;
                }
            }
        }

        & .button {
            font-size: 0.6rem;
            padding: 0.3rem 0.625rem;
        }
    }

    div.about-me-section {
        width: 44rem;
        margin: 0rem 0.25rem;
        padding-top: 1rem;

        & ion-card {
            margin: 1.25rem 1rem;
        }

        & p {
            font-size: 0.65rem;
        }
    }

    div.skills-container {
        padding: 0rem;

        & .skills-cards {
            justify-content: center;
            padding-bottom: 0.5rem;

            & ion-card {
                margin: 0.50rem;
                width: 10.8rem;
            }

            & ion-card-header {
                padding-top: 0.8rem;
                padding-left: 1rem;
            }

            & ion-card-subtitle {
                font-size: 0.775rem;
            }

            & ion-card-content {
                padding-left: 1rem;
            }

            & ion-item {
                --padding-start: 0rem;
                --min-height: 2rem;
                font-size: 0.6rem;
            }

            & ion-thumbnail {
                --size: 0.9rem;
                --border-radius: 0.1rem;
                margin-right: 0.7rem;
            }
        }
    }

    div.projects-container {
        padding: 0rem;

        & .projects-cards {
            justify-content: center;

            & ion-card {
                margin: 0.5rem;
                width: 11rem;
            }

            & ion-card-header {
                padding-top: 0.5rem;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
            }

            & ion-card-title {
                font-size: 1rem;
            }

            & ion-chip {
                margin-top: 0.25rem;
                font-size: 0.5rem;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }

            & ion-card-content {
                font-size: 0.65rem;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
            }

            & a {
                font-size: 0.65rem;
            }
        }
    }

    div.education-container {
        padding: 0.5rem 0rem;

        & ion-card {
            margin: 0.75rem;
        }

        & ion-card-title {
            font-size: 0.9rem;
        }

        & ion-card-subtitle {
            font-size: 0.6rem;
        }

        & ul {
            margin: 0rem 0rem 0.2rem 0rem;
            font-size: 0.65rem;
            padding-left: 2rem;
        }
    }

    div.contact-me-container {
        padding: 0.5rem 0rem;

        & ion-card {
            margin: 0.50rem;
        }

        & ion-card-content {
            flex-wrap: nowrap;
            padding: 0.25rem;
        }

        & div {
            margin: 0.5rem
        }

        & h2 {
            font-size: 0.7rem;
        }

        & a {
            font-size: 0.525rem;
        }
    }
}